#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.typeahead-container {
  position: relative; 
}

.suggestions {
  position: absolute; /* Position suggestions absolutely */
  top: 100%; /* Position below the input */
  left: 0; /* Align with the left edge of the input */
  width: 100%; /* Match the width of the input */
  border-top: none; /* Remove border on top */
  border-radius: 0 0 4px 4px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.suggestion {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
}

.suggestion:hover {
  border-color: #ccc;
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}